body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
 
body,
button, input, select, textarea {
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", "\5fae\8f6f\96c5\9ed1", sans-serif
}
 
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
 
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } 
small { font-size: 12px; }
 
b, strong {font-weight: normal; }
 
ul, ol { list-style: none; }
 
a {
    text-decoration: none;
    color: inherit;
}
a:hover { text-decoration: underline; }
 
abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
 
q:before, q:after { content: ''; }
 
legend { color: #000; } 
fieldset, img { border: none; } 
button, input, select, textarea { font-size: 100%; } 
 
input:focus {
    outline: none
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
hr {
    border: none;
    height: 1px;
}
 
html { overflow-y: scroll; }
 
.cf:before,
.cf:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}
 
.cf:after {
    clear: both
}
 
.cf {
    zoom: 1
}
 
.pr {
    position: relative
}
 
.pa {
    position: absolute
}
 
.fl {
    float: left
}
 
.fr {
    float: right
}
 
.sup {
    vertical-align: super;
    font-size: 60%
}
 
.sub {
    vertical-align: sub;
    font-size: 60%
}
/* reset end */
html{
    height: 100%;
}
body{
    width:100%;
    height: 100%;
    background:url(images/background_04.jpg) repeat-x center top #292a90;
}
.backgroundimg{
    height: 100%;
    width: 100%;
    background:url(images/background_06.png) repeat left top;
}
.wrapper{
    height: 100%;
    width:1000px;
    margin:0 auto;
}
header{
    height: 57px;
    padding:30px 0 50px;
    width:1000px;
    margin:0 auto;
}
.logo a{
    display:block;
    width:269px;
    height: 57px;
    background:url(images/logo_03.png) no-repeat center;
    color:#fff;
    font-size: 48px;
    text-indent: -9999px;
}
.main{
    width:100%;
}
nav{
    width:24%;
    text-align: right;
}
nav h2{
    font-size: 14px;
    color:#ffffff;
}
nav h2.on{
    background:url(images/menu_left_bg_07.png) no-repeat left center;
}
nav h2:hover{
    background:url(images/menu_left_bg_07.png) no-repeat left center;
}
nav h2 span{
    display: block;
    padding:0 31px;
}
nav h2.on span{
    background:url(images/menu_right_bg_07.png) no-repeat right center;
}
nav h2 span:hover{
    background:url(images/menu_right_bg_07.png) no-repeat right center;

}
nav h2 a{
    cursor:pointer;
    display: block;
    text-shadow:2px 2px 1px #000;
    padding:0 3px;
}
nav h2.on a{
    background:#000;
}
nav h2 a:hover{
    text-decoration: none;
    background:#000;
}
nav h3{
    font-size: 12px;
    color:#ffffff;
    font-weight: normal;
    padding:6px 15px 6px 0;
    background:#000;
    line-height: 1.2;
}
nav h3 a{
    cursor:pointer;
    display: block;
}
nav h3.on a{
    margin-right:-10px;
    color: #00ffe4;
}
nav h3 a:hover{
    text-decoration: none;
    margin-right:-10px;
    color: #00ffe4;
}
.subnav{
    padding-right:31px;
    border-radius:0 0 0 10px;
    overflow: hidden;
}
.s1 a{
    padding-top:12px;
    height:28px;
}
.s2 a{
    padding-top:5px;
    height:35px;
}
.content{
    color: #fff;
    width: 72%;
    line-height: 1.5;
    font-size: 14px;
    text-shadow:0 0 14px #00ffe4;
}
.detail p{
    margin:11px 0;
}
.detail img{
    border-radius:9px;
    box-shadow: 1px 1px 8px #000
}
.detail table td{
    padding:7px 15px 9px;
    border:solid 1px #00ffe4;
}
.imgfl{
    float: left;
    margin:0 20px 20px 0;
}
.imgfr{
    float: right;
    margin:0 0 20px 20px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom:25px;:;
}
footer{
    color: #999;
    width:1000px;
    margin:0 auto;
    text-align: right;
    padding:40px 0 20px;
    line-height: 1.5;
}
footer span{
    font-weight: bold;
    color: #bbb;
}
.landingpage{
    height:400px;
    width:970px;
    margin:50px auto 0;
    /*border-width:150px;
    border-style:solid none;
    border-color:#d52b1e;*/
    background:url(images/landingbg.jpg) no-repeat center;
    border: 5px solid #fff;
    border-radius: 5px;
    text-shadow:0 0 5px #000;
    line-height: 1.4;
}

.intro{
    left:250px;
    top:-450px;
    color:#fff;
    font-size: 30px;
}
.flag{
    left:750px;
    top:-450px;
    color:#00ffe4;
    
    font-size: 52px;
    font-weight: bold;
}
.a-btn {
    background: -moz-linear-gradient(center top , #80a9da 0%, #6f97c5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #5d81ab;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 4px rgba(188, 188, 188, 0.5);
    clear: both;
    display: inline-block;
    float: left;
    height: 38px;
    margin: 10px 0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 70px;
    position: relative;
    transition: all 0.3s linear 0s;
    z-index: 10;
}
.a-btn:hover {
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding-right: 170px;
    text-decoration: none;
}
.a-btn-text {
    color: #446388;
    display: block;
    font-size: 18px;
    padding-top: 5px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    transition: all 0.2s linear 0s;
    white-space: nowrap;
}
.a-btn-slide-text {
    background: none repeat scroll 0 0 #63707e;
    box-shadow: -1px 0 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    font-size: 14px;
    height: 100%;
    line-height: 38px;
    overflow: hidden;
    position: absolute;
    right: 52px;
    text-align: left;
    text-indent: 10px;
    text-shadow: 0 -1px 1px #363f49;
    top: 0;
    transition: width 0.3s linear 0s;
    white-space: nowrap;
    width: 0;
}
.a-btn-icon-right {
    border-left: 1px solid #5d81ab;
    box-shadow: 1px 0 1px rgba(255, 255, 255, 0.4) inset;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 52px;
}
.a-btn-icon-right span {
    background: url("images/arrow_right.png") no-repeat scroll 50% 55% transparent;
    height: 38px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    transition: all 0.3s linear 0s;
    width: 38px;
}

.a-btn:hover .a-btn-text {
    color: #fff;
    text-shadow: 0 1px 1px #5d81ab;
}
.a-btn:hover .a-btn-slide-text {
    width: 100px;
}
.a-btn:hover .a-btn-icon-right span {
    opacity: 1;
}
.headimg{
    top:85px;
    left:-1000px;
}
.landingpagebtn{
    z-index: 9;
    display:block;
    width: 100%;
    height: 100%;
}